<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
  <div class="posts">
    <form method="post" class="newpost-container" enctype="multipart/form-data" role="form">
      <h1>{{ post_form.caption.label }}</h1>
      {{ post_form.csrf_token }}
      {{ post_form.caption(class="newpost", role="textbox") }}
      <div class="newpost-btns">
        {{ post_form.post(class="attach") }}
        <label class="attach-btn btn btn-primary" for="{{ post_form.post.id }}">Attach Photo</label>
        {{ post_form.submit(class="post-btn btn btn-primary", role="button") }}
      </div>
    <div class="image-preview-container">
    </div>
    
    </form>
    {% if posts == [] %}
    <div class="empty-page">Nothing to Show</div>
    {% endif %}
    {% for post in posts %}
    <div class="post">
      <a class="user-hyperlink" href="/{{ post.username }}" role="button"><h2>{{ post.username }}</h2></a>
      <h3>{{ post.caption }}</h3>
      {% if post.path != "NA" %}
      <div>
        <img class="image" src="{{ post.path }}" alt="Uploaded Image" role="img">
      </div>
      
      {% endif %}
      <div class="interaction">
        <div class="post-btns">
          <button type="button" class="comments-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ post.postID }}" role="button">
            Comments
          </button>

          <form class="heart-form{{ post.postID }}" role="form">
            {% if post.postID not in hearts %}
            <input type="hidden" name="postID" value="{{ post.postID }}" aria-hidden="true">
            <input type="image" src="../static/heart.png" name="heart" class="heart" alt="Like Button" role="button">
            {% elif post.postID in hearts %}
            <input type="hidden" name="postID" value="{{ post.postID }}" aria-hidden="true">
            <input type="image" src="../static/hearted.png" name="heart" class="heart" alt="Like Button" role="button">
            {% endif %}
          </form>
        </div>
        <div class="modal fade" id="modal{{ post.postID }}" tabindex="-1" role="dialog" aria-label="Comments" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel" role="text">Comments</h5>
              </div>
              <div class="modal-body">
                <form method="post" class="comment-container" name="comment_form" role="form">
                  {{ comment_form.csrf_token() }}
                  {{ comment_form.comment.label }}
                  {{ comment_form.postID(value=post.postID) }}
                  {{ comment_form.comment(class="comment", role="textbox") }}
                  {{ comment_form.submit(class="loginbtn btn btn-primary", role="button") }}
                </form>
                <div class="comments-container">
                  {% for comment in comments %}
                    {% if comment.postID == post.postID %}
                      <a class="user-hyperlink" href="/{{ comment.username }}" role="button"><h2>{{ comment.username }}</h2></a>
                      <h3 role="text">{{ comment.comment }}</h3>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" role="button">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}