<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <div class="logo-register"><h1 class="social">Social</h1><h1 class="spot">Spot</h1></div>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="register-form-label">
            <h2>Username:</h2>
            <h2 class="second-label">Email:</h2>
        </div>
        <div class="register-form">
            {{ form.username(class="loginform") }}
            {{ form.email(class="loginform") }}
        </div>
        <div class="register-form-label">
            <h2>First Name:</h2>
            <h2 class="second-label">Last Name:</h2>
        </div>
        <div class="register-form">
            {{ form.fName(class="loginform") }}
            {{ form.lName(class="loginform") }}
        </div>
        <div class="register-form-label">
            <h2>Password:</h2>
            <h2 class="second-label">Confirm Password:</h2>
        </div>
            
        <div type="password" class="register-form">
            {{ form.pw(class="loginform") }}
            {{ form.pw2(class="loginform") }}
        </div>
        <div class="loginbtn-container">
            {{ form.submit(class="loginbtn btn btn-primary") }}
            <p>Already have an account? <a href="../login">Login</a></p>
        </div>
        
    </form>
</div>
{% endblock %}%     